---
import astroLogo from "../assets/astro.svg";

const APP_ROUTES = [
    { name: "home", href: "/" },
    { name: "books", href: "/books" },
    { name: "about", href: "/about" },
];

const { pathname } = Astro.url;
---

<header>
    <div id="head-logo-container">
        <img src="logo.png" alt="" />
        <span>sol books</span>
    </div>

    <nav>
        <div id="large-nav">
            {
                APP_ROUTES.map((link) => (
                    <a href={link.href} class={pathname === link.href ? "active" : ""}>
                        {link.name}
                    </a>
                ))
            }
        </div>

        <div id="small-nav">
            <button>
                <!-- <img src={astroLogo.src} id="nav-hamburger-btn" /> -->
                =
            </button>

            <dialog>
                {
                    APP_ROUTES.map((link) => (
                        <a href={link.href} class={pathname === link.href ? "active" : ""}>
                            {link.name}
                        </a>
                    ))
                }
                <button>x</button>
            </dialog>
        </div>
    </nav>

    <script>
        const smallNav = document.querySelector("#small-nav")!;
        const navBtn = smallNav.querySelector("button")!;
        const dialog = smallNav.querySelector("dialog")!;
        const dialogCloseBtn = dialog.querySelector("button")!;

        document.addEventListener("click", (e) => {
            if (e.composedPath().includes(navBtn)) {
                dialog.open = !dialog.open;
            } else if (
                !e.composedPath().includes(dialog) ||
                e.composedPath().includes(dialogCloseBtn)
            ) {
                dialog.open = false;
            }
        });
    </script>
</header>

<style>
    :root {
        --dark-01: #292929;
        --light-01: #eee;
        --accent-01: #27b9b4;
    }

    header {
        /* border: 1px solid; */
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--dark-01);
        color: var(--light-01);

        #head-logo-container {
            height: 56px;
            color: var(--accent-01);
            display: flex;
            align-items: center;
            padding-left: 8px;
            padding-right: 16px;

            img {
                width: 56px;
                height: 56px;
            }
        }

        nav {
            border: 1px solid;
            margin-right: 16px;
        }

        dialog {
            left: unset;
            border: 1px solid;
            z-index: 2;
        }

        a {
            text-decoration: none;
            color: var(--light-01);
        }
        a.active {
            color: forestgreen;
        }
        a:active {
            color: darkgreen;
        }
    }

    @media screen and (max-width: 600px) {
        #large-nav {
            display: none;
        }
        #small-nav {
            display: block;
        }
    }
    @media screen and (min-width: 601px) {
        #large-nav {
            display: block;
        }
        #small-nav {
            display: none;
        }
    }
</style>
