---
import astroLogo from "../assets/astro.svg";

const APP_ROUTES = [
    { name: "home", href: "/" },
    { name: "books", href: "/books" },
    { name: "about", href: "/about" },
];

const { pathname } = Astro.url;
---

<header>
    <div class="header-container">
        <div id="head-logo-container">
            <img src="logo.png" alt="" />
            <span>sol books</span>
        </div>

        <nav>
            <div id="large-nav">
                {
                    APP_ROUTES.map((link) => (
                        <a href={link.href} class={pathname === link.href ? "active" : ""}>
                            {link.name}
                        </a>
                    ))
                }
            </div>

            <div id="small-nav">
                <button>
                    <!-- <img src={astroLogo.src} id="nav-hamburger-btn" /> -->
                    =
                </button>

                <dialog>
                    {
                        APP_ROUTES.map((link) => (
                            <a href={link.href} class={pathname === link.href ? "active" : ""}>
                                {link.name}
                            </a>
                        ))
                    }
                    <button>x</button>
                </dialog>
            </div>
        </nav>
    </div>
</header>

<script>
    const smallNav = document.querySelector("#small-nav")!;
    const navBtn = smallNav.querySelector("button")!;
    const dialog = smallNav.querySelector("dialog")!;
    const dialogCloseBtn = dialog.querySelector("button")!;

    document.addEventListener("click", (e) => {
        if (e.composedPath().includes(navBtn)) {
            dialog.open = !dialog.open;
        } else if (
            !e.composedPath().includes(dialog) ||
            e.composedPath().includes(dialogCloseBtn)
        ) {
            dialog.open = false;
        }
    });
</script>

<style>
    :root {
        --dark-01: #292929;
        --light-01: #eee;
        --accent-01: #27b9b4;
    }

    header {
        height: 48px;

        .header-container {
            position: fixed;
            height: 48px;
            width: 100%;
            z-index: 1;
            top: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--dark-01);
            color: var(--light-01);

            #head-logo-container {
                height: 56px;
                color: var(--accent-01);
                display: flex;
                align-items: center;
                padding-left: 8px;
                padding-right: 16px;

                img {
                    width: 56px;
                    height: 56px;
                }
            }

            nav {
                margin-right: 18px;
                font-size: 18px;

                #large-nav a {
                    margin-left: 8px;
                    text-transform: uppercase;
                }
            }

            dialog {
                left: unset;
                z-index: 2;
                background-color: var(--dark-01);
            }

            a {
                text-decoration: none;
                color: var(--light-01);
            }
            a.active {
                color: forestgreen;
            }
            a:active {
                color: darkgreen;
            }
        }
    }

    @media screen and (max-width: 600px) {
        #large-nav {
            display: none;
        }
        #small-nav {
            display: block;
        }
    }
    @media screen and (min-width: 601px) {
        #large-nav {
            display: block;
        }
        #small-nav {
            display: none;
        }
    }
</style>
